[submodule "terrasentia-gazebo"]
	path = terrasentia-gazebo
	url = git@bitbucket.org:daslab_uiuc/terrasentia-gazebo.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "ardupilot-gazebo"]
	path = ardupilot-gazebo
	url = git@bitbucket.org:darpactf/ardupilot-gazebo.git
