[submodule "terrasentia-gazebo"]
	path = ros-packages/src/terrasentia-gazebo
	url = git@bitbucket.org:daslab_uiuc/terrasentia-gazebo.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "ardupilot-gazebo"]
	path = ros-packages/src/ardupilot-gazebo
	url = git@bitbucket.org:darpactf/ardupilot-gazebo.git
[submodule "ctf-public"]
	path = ctf-public
	url = git@bitbucket.org:darpactf/ctf-public.git
[submodule "terra-simulator"]
	path = terra-simulator
	url = https://bitbucket.org/daslab_uiuc/terra-simulator
